Checks:          '*, -clang-diagnostic-*, -cppcoreguidelines-avoid-magic-numbers, -readability-magic-numbers, -readability-identifier-length, -hicpp-signed-bitwise, -bugprone-easily-swappable-parameters, -altera-*, -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling, -clang-analyzer-security.insecureAPI.strcpy'
WarningsAsErrors: ''
ExtraArgs:
  - '-std=c11'
  - '-pedantic'
  - '-Wall'
  - '-W'
  - '-Wno-missing-field-initializers'
  - '-fno-sanitize=undefined'
  - '-Iinclude'
  - '-Wunused-result'
